body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-logo {
  width: 3em;
  height: 3em;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(240, 230, 198) 0%, rgb(196, 181, 52) 80%, rgb(75, 80, 5) 90%) !important;
  z-index: 100;
}
